* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.big {
  width: 165vh;
  height: 60vw;
  background-color: chocolate;
  margin: 0 auto;
}
.anime1 {
  position: relative;
  width: 55vh;
  height: 20vw;
  background-color: rgb(255, 208, 0);
}
.anime1__1 {
  animation: hover 2s infinite;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 30rem;
  height: 8rem;
  margin: 9rem 7rem;
  font-size: 2.5rem;
  border-radius: 4rem;
  border: 0.5rem solid white;
  color: white;
  text-decoration: none;
}

/* Animatsiya uchun */
@keyframes hover {
  0% {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem;
  }
}
.anime1__1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  border: none;
  text-decoration: none;
  border-radius: 2rem;
  z-index: -1;
  transition: all 0.4s;
}
.anime1__1:hover::after {
  transform: scale(2);
  opacity: 0;
}
