* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.big {
  width: 165vh;
  height: 60vw;
  background-color: chocolate;
  margin: 0 auto;
}
.anime1 {
  position: relative;
  width: 55vh;
  height: 20vw;
  padding: 10rem 15rem;
  background-color: yellow;
}
.anime1__1 {
  position: absolute;
  width: 20rem;
  height: 10rem;
  border: 1rem;

  background-color: aquamarine;
  text-decoration: none;
}
